.container-colecao{
    display: flex;

    align-items: center;
    justify-content: space-evenly;

}

.img-colecao {
    width: 100%;
    transition: transform 0.3s ease-in-out; /* Suaviza a transição */
}

.img-colecao:hover {
    transform: scale(1.02); /* Aumenta 20% proporcionalmente */
}
.btnColecao{
    width: 100%;

}
