.img-destaque{
    width: 40%;
}
.container-destaque{
 display: flex;
 flex-direction: column;
 margin-top: 50px;
}
.destaque{
    display: flex;
}
.roupa-colecao-destaque {
    width: 100%; /* Garantir que as imagens ocupem o espaço correto */
    height: 40%; /* Garantir que as imagens cubram a altura do card */
    object-fit: cover; /* Ajusta as imagens sem distorcer */
    transition: transform 0.3s ease; 
    transform-origin: center center;
}

.roupa-colecao-destaque:hover{
    transform: scale(1.10);
}

.colecao-destaque{
    display: flex;
    gap: 10px;
}
.card-roupa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #DFDFDF;
    height: 100%;
    width: 300px;
    
    
}
.card-roupa:hover{
    opacity: .9;
}
.nome-roupa{
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
    color: #333;
    

}
.preco-roupa{
    font-weight: bold;
    margin-top: 5px;
    font-size: 16px;
}
.titulo-sesssao{
    margin-bottom: 30px;
    text-align: center;
    font-size: 50px;
}
.swiper{
    width: 100%;

}


.swiper-pagination .swiper-pagination-bullet-active {
    background-color: #000 !important; /* Cor ativa */
    
    
}

.swiper-button-next,
.swiper-button-prev {
    color: #000 !important; /* Cor personalizada para as setas */
    font-weight: bold;

    
}
.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 24px !important; /* Ajusta o tamanho das setas */
}


@media (max-width:768px){
    .titulo-sesssao{
        font-size: 2rem;
    }
    .roupa-colecao-destaque {
        width: 100%; /* Garantir que as imagens ocupem o espaço correto */
        height: 70%; /* Garantir que as imagens cubram a altura do card */
        object-fit: cover; /* Ajusta as imagens sem distorcer */
    }
   

}
@media (max-width:468px){
    .img-destaque{
        display: none;
    }
    .titulo-sesssao{
        font-size: 2rem;
    }
    .swiper-pagination {
        display: none;
    }
    .card-roupa{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: #DFDFDF;
        height: 40vh;
    }
    .roupa-colecao-destaque {
        width: 100%; 
        height: 70%; 
        object-fit: cover; 
    }
    
}