.container-produtos-favorito{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}
.container-produtos-favorito div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.imgFavorito{
    width: 60%;
}
.containerImgFavorito{
    background-color: #f5f5f5;
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerFavoritos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.headerFavoritos h1{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}
.headerFavoritos p{
    color: #2d2e2f;
    font-size: 17px;
    text-align: center;
}
.infoProdutoFavorito{
    width: 100% !important;
    display: flex;
    align-items: start !important;
    justify-content: start !important;
}
.cardFavorito{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    max-width: 400px;
}