.container-header{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    align-items: center;

}
.icons-header{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
#input-search{
    border: none;
    font-size: 18px;
}
#input-search:focus{
    outline: none;
}
.div-input{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.icon, .span-entrar{
    cursor: pointer;
}
.iconMenu{
    display: none;
}
.container-drawerMobile{
    display: none;
}
.iconsMobile{
    display: flex;
    gap: 14px;
    justify-content: center;
    align-items: center;
}
.iconSearch{
    display: none;
}

@media (max-width:768px){
    .div-input{
        display: none;
    }
    .iconMenu, .iconSearch{
        display: block;
    }
    .iconFavorito{
        display: none;
    }
    div.div-entrar {
        display: none !important;
    }
    .container-drawerMobile{
        display: block;
    }
}
@media (max-width:468px){
    .container-header{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        align-items: center;
    
    }
}