.closeDrawer{
    width: -100%;
   
}
    
.openDrawer{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.container-drawer{
    position: absolute;
background-color: #fff;
position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 50%;
    z-index: 999;

}

.div-input-drawer{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.input{
    width: 100%;
    font-size: 18px !important;
}
.input:focus{
 
        outline: none;
    
}
.img-roupa-drawer{
    width: 100%;

}
.card-drawer{
width: 40%;


}
.card-drawer:hover{
    opacity: .8;
    cursor: pointer;
}
.card-drawer div{

    background-color: #dfdfdf;
    display: flex;
    justify-content: center;
}
.nome-card {
    font-size: 20px;
}
.container-card-drawer{
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    margin-top: 20px;
    padding: 20px;
    flex-wrap: wrap;
    

}
.container-card-drawer {
    overflow-y: auto;
    max-height: 80%;
     scrollbar-color: #000 #e0e0e0; /* Cor da barra de rolagem e do fundo da pista */
   
}





.container-card-drawer {
    scrollbar-width: thin;  
    scrollbar-color: #000 #fff;
}



